@{
    ViewBag.Title = "Landing Page";
}


<br>
<div class="row">
    <h2 class="text-center bounceIn">Financial Portal</h2>
    <div class="col-md-5 col-sm-5">
        <img src="~/images/money_burned.png" class="img-size flipInV animation-delay4" />
        
    </div>
    <div class="col-md-7 col-sm-7">
        <br><br>
        <p class="font-18 text-justify">
            This is your very own financial portal. It helps you keep <br>
            close watch on your income and expenses.</p>
        <p class="font-18 text-justify">
            It provides the flexibility of creating households,<br>multiple bankaccounts per household and link <br>the two.<br>
        <p class="font-18 text-justify">Create your very own categories for effective budgeting.</p>
        <p class="font-18 text-justify">Keeping a track of transactions is easy.</p>
    </div>
    
</div>
<br><br>
<div class="row">
    <h2 class="text-center bounceIn animation-delay7">Technologies Used</h2>
    <div class="col-md-12 col-xs-12">
        <div class="col-md-offset-1 col-xs-1 fadeInRight btn btn-rounded animation-delay8 back-color opac">
            <strong class="font-16 opactext text-white">HTML5</strong>
        </div><span></span>
        <div class="col-md-1 col-xs-1 fadeInUp btn btn-rounded animation-delay8 back-color opac">
            <strong class="font-16 opactext text-white">CSS3</strong>
        </div>
        <div class="col-md-1 col-xs-1 fadeInUp btn btn-rounded animation-delay10 back-color opac">
            <strong class="font-16 opactext text-white">JQuery</strong>
        </div>
        <div class="col-md-1 col-xs-1 fadeInUp btn btn-rounded animation-delay9 back-color opac">
            <strong class="font-16 opactext text-white"><span class=" right-padding">bootstrap</span></strong>
        </div>
        <div class="col-md-1 col-xs-1 fadeInLeft btn btn-rounded animation-delay8 back-color opac">
            <strong class="font-16 opactext text-white">C#</strong>
        </div>
        <div class="col-md-1 col-xs-1 fadeInUp btn btn-rounded animation-delay10 back-color opac">
            <strong class="font-16 opactext text-white">MVC5</strong>
        </div>
        <div class="col-md-1 col-xs-1 fadeInUp btn btn-rounded animation-delay9 back-color opac">
            <strong class="font-16 opactext text-white">RAZOR</strong>
        </div>
        <div class="col-md-1 col-xs-1 fadeInUp btn btn-rounded animation-delay8 back-color opac">
            <strong class="font-16 opactext text-white">AJAX</strong>
        </div>
        <div class="col-md-1 col-xs-1 fadeInUp btn btn-rounded animation-delay8 back-color opac">
            <strong class="font-16 opactext text-white">JSON</strong>
        </div>
    </div>
</div>